@theme {
	--color-slick:#295da9;
	--color-slick-50:#f9f9ff;
	--color-slick-100:#ecf0ff;
	--color-slick-200:#d7e3ff;
	--color-slick-300:#abc7ff;
	--color-slick-400:#7dabfd;
	--color-slick-500:#6291e0;
	--color-slick-600:#4777c4;
	--color-slick-700:#295da9;
	--color-slick-800:#00458f;
	--color-slick-900:#002f65;
	--color-slick-950:#001b3f;
	--color-slick-secondary:#565e71;
	--color-slick-secondary-50:#f9f9ff;
	--color-slick-secondary-100:#ecf0ff;
	--color-slick-secondary-200:#dae2f9;
	--color-slick-secondary-300:#bec6dc;
	--color-slick-secondary-400:#a3abc0;
	--color-slick-secondary-500:#8891a5;
	--color-slick-secondary-600:#6e778b;
	--color-slick-secondary-700:#565e71;
	--color-slick-secondary-800:#3e4759;
	--color-slick-secondary-900:#283141;
	--color-slick-secondary-950:#131c2b;
	--color-slick-tertiary:#705574;
	--color-slick-tertiary-50:#fff7fb;
	--color-slick-tertiary-100:#ffebfe;
	--color-slick-tertiary-200:#fad8fd;
	--color-slick-tertiary-300:#ddbce0;
	--color-slick-tertiary-400:#c0a1c4;
	--color-slick-tertiary-500:#a587a9;
	--color-slick-tertiary-600:#8a6e8e;
	--color-slick-tertiary-700:#705574;
	--color-slick-tertiary-800:#573e5c;
	--color-slick-tertiary-900:#3f2844;
	--color-slick-tertiary-950:#29132e;
	--color-slick-neutral:#e3e2e6;
	--color-slick-neutral-50:#faf9fd;
	--color-slick-neutral-100:#f2f0f4;
	--color-slick-neutral-200:#e3e2e6;
	--color-slick-neutral-300:#c7c6ca;
	--color-slick-neutral-400:#ababaf;
	--color-slick-neutral-500:#919094;
	--color-slick-neutral-600:#77777a;
	--color-slick-neutral-700:#5e5e62;
	--color-slick-neutral-800:#46474a;
	--color-slick-neutral-900:#2f3033;
	--color-slick-neutral-950:#1a1b1f;
	--color-slick-neutralVariant:#c4c6d0;
	--color-slick-neutralVariant-50:#f9f9ff;
	--color-slick-neutralVariant-100:#eff0fa;
	--color-slick-neutralVariant-200:#e0e2ec;
	--color-slick-neutralVariant-300:#c4c6d0;
	--color-slick-neutralVariant-400:#a9abb4;
	--color-slick-neutralVariant-500:#8e9099;
	--color-slick-neutralVariant-600:#74777f;
	--color-slick-neutralVariant-700:#5b5e66;
	--color-slick-neutralVariant-800:#44474e;
	--color-slick-neutralVariant-900:#2d3038;
	--color-slick-neutralVariant-950:#181c22;
}
.dark {
	--color-slick:#543800;
	--color-slick-950:#060600;
	--color-slick-900:#130f00;
	--color-slick-800:#281c00;
	--color-slick-700:#543800;
	--color-slick-600:#825402;
	--color-slick-500:#9d6e1f;
	--color-slick-400:#b8883b;
	--color-slick-300:#d6a256;
	--color-slick-200:#ffba70;
	--color-slick-100:#ffd09a;
	--color-slick-50:#ffe4c0;
	--color-slick-secondary:#413923;
	--color-slick-secondary-950:#060600;
	--color-slick-secondary-900:#130f00;
	--color-slick-secondary-800:#251d06;
	--color-slick-secondary-700:#413923;
	--color-slick-secondary-600:#5c543f;
	--color-slick-secondary-500:#776e5a;
	--color-slick-secondary-400:#918874;
	--color-slick-secondary-300:#a9a18e;
	--color-slick-secondary-200:#c1b8a6;
	--color-slick-secondary-100:#d7cebe;
	--color-slick-secondary-50:#ece3d4;
	--color-slick-tertiary:#22431f;
	--color-slick-tertiary-950:#000804;
	--color-slick-tertiary-900:#001401;
	--color-slick-tertiary-800:#052702;
	--color-slick-tertiary-700:#22431f;
	--color-slick-tertiary-600:#3f5e3b;
	--color-slick-tertiary-500:#5a7856;
	--color-slick-tertiary-400:#759171;
	--color-slick-tertiary-300:#8faa8b;
	--color-slick-tertiary-200:#a8c1a3;
	--color-slick-tertiary-100:#c0d7bb;
	--color-slick-tertiary-50:#d6ecd1;
	--color-slick-neutral:#d0cfcc;
	--color-slick-neutral-950:#050602;
	--color-slick-neutral-900:#0d0f0b;
	--color-slick-neutral-800:#1c1d19;
	--color-slick-neutral-700:#383935;
	--color-slick-neutral-600:#545450;
	--color-slick-neutral-500:#6e6f6b;
	--color-slick-neutral-400:#888885;
	--color-slick-neutral-300:#a1a19d;
	--color-slick-neutral-200:#b9b8b5;
	--color-slick-neutral-100:#d0cfcc;
	--color-slick-neutral-50:#e5e4e0;
	--color-slick-neutralVariant:#bbb8b1;
	--color-slick-neutralVariant-950:#060600;
	--color-slick-neutralVariant-900:#100f05;
	--color-slick-neutralVariant-800:#1f1d13;
	--color-slick-neutralVariant-700:#3b392f;
	--color-slick-neutralVariant-600:#56544b;
	--color-slick-neutralVariant-500:#716f66;
	--color-slick-neutralVariant-400:#8b8880;
	--color-slick-neutralVariant-300:#a4a199;
	--color-slick-neutralVariant-200:#bbb8b1;
	--color-slick-neutralVariant-100:#d2cfc7;
	--color-slick-neutralVariant-50:#e7e3dd;
}
