@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *)) {
}
/* <--//------------------------------------------------------------[colors] */
@theme {
	/* --- palette */
	--color-mono:#585e71;
	--color-mono-50:#faf8ff;
	--color-mono-100:#eef0ff;
	--color-mono-200:#dce2f9;
	--color-mono-300:#c0c6dd;
	--color-mono-400:#a5aac1;
	--color-mono-500:#8a90a5;
	--color-mono-600:#71768b;
	--color-mono-700:#585e71;
	--color-mono-800:#404659;
	--color-mono-900:#2a3042;
	--color-mono-950:#151b2c;
	/* --- interface */
  --color-face: #faf8ff;
	--color-lbl: #151b2c;
	--color-frm: #faf8ff;
	--color-menu: #d5d6db;
  --color-menu-alt: #faf8ff;
  --color-menu-outside: #b3b4d1;
  --color-preview: #edeef3;
	--color-header: #2959aa;
	--color-btn: #d2d7ec;
	--color-btn-h: #e5f1fe;
	--color-btn-txt: #565f89;
	--color-bounds:#c0c6dd;
	--color-err: #fb2c36;
	--color-err-bg: #fef2f2;
	--color-err-fg:#9f0712;
	--color-err-br: #ffe7e7;
  --color-svg: #151b2c;
	--color-selection: #5d5fef;
  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
  --font-ui:
    ui-monospace, Consolas, SFMono-Regular, Menlo, Monaco, "Liberation Mono",
    "Courier New", monospace;
}
.dark {
	--color-face: #efefef;
	--color-lbl: #efefef;
	--color-frm: #414868;
  --color-menu-alt: #25283a;
  --color-menu-outside: #1d2129;
  --color-svg: #c0caf5;
  --color-menu: #202334;
  --color-preview: #2f3244;
	--color-bounds: #3b4261;
	--color-header: #7dcfff;
	--color-btn: #24283b;
	--color-btn-h: #1a1b26;
	--color-btn-txt: #565f89;
	--color-err-bg:#82181a;
	--color-err-fg: #ffc9c9;
	--color-err-br: #8b060f;
	--color-selection: #7dcfff;
}
/* <--//----------------------------------------------------------[document] */
:root {
  overscroll-behavior: none;
  overflow-x: hidden;
  overflow-x: clip;
}
/* <--//-----------------------i-----------------------------------[globalz] */
@layer base {
  ::-webkit-scrollbar {
    @apply w-5 h-5;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-menu rounded-none;
  }
  ::-webkit-scrollbar-track {
    @apply bg-menu-alt;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-menu-alt;
  }
  ::-webkit-scrollbar-button {
    @apply bg-menu-alt w-5 h-5 text-face;
  }
  ::-webkit-scrollbar-corner {
    @apply bg-menu-alt w-5 h-5 text-face;
  }
  .scrollable {
    scrollbar-width: auto;
    scrollbar-color: var(--color-menu) var(--color-menu-alt);
  }
  html,
  body {
		@apply transition-all ease-in-out;
    overscroll-behavior: none;
  }
  body {
    @apply flex flex-row h-screen w-screen m-0 p-0 bg-preview;
		&.drag-over {
			@apply relative;
			&::after {
				@apply
					fixed flex z-50 top-[5%] left-[5%] bottom-[5%] right-[5%]
					align-middle justify-center justify-items-center items-center
					pointer-events-none text-3xl font-bold text-header bg-menu
					border-4 border-dashed border-btn;
				content: 'Drop SVG file here';
			}
		}
		* {
			@apply font-ui transition-all ease-in-out;
			&:focus {
				outline: none !important;
			}
		}
		/* view direction swap magic */
    main,
    aside {
      @apply w-1/2;
    }
		aside nav {
			@apply justify-end;
		}
    &.vertical {
      @apply flex-col;
      main,
      aside {
        @apply w-full;
      }
			aside nav {
				@apply justify-start;
			}
    }
		.cm-editor {
			@apply h-full;
			&.vertical {
				@apply h-1/2;
			}
		}
  }
	@media (prefers-reduced-motion: reduce) {
		* {
      @apply transition-none! animate-none!;
		}
	}
  button {
    @apply flex cursor-pointer items-center text-face bg-btn mr-2;
    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      @apply bg-btn-h;
    }
		svg {
			@apply w-8 h-8 fill-btn-txt;
		}
  }
/* <--//---------------------------------------------------------[interface] */
  main,
  aside {
		.svg-status-bar {
			@apply top-[unset]! bottom-0!;
		}
		nav,
		.svg-status-bar{
			@apply
				flex flex-row w-full absolute top-0 left-0 z-10
				items-center bg-menu m-0 p-2;
			box-shadow:
				0 0 0 2px var(--color-menu-outside),
				0 0 0 3px var(--color-bounds);
		}
  }
  #editor {
		@apply relative flex-1 flex flex-col overflow-hidden;
		.svg-status-bar {
			@apply text-sm bg-menu text-lbl align-middle items-center min-h-6;
		}
		.svg-status-bar.error {
			@apply bg-err-bg text-err-fg;
			box-shadow:
				0 0 0 2px var(--color-err-br),
				0 0 0 3px var(--color-err-bg);
		}
		.cm-editor {
			 @apply flex-1 min-h-0 overflow-auto mb-10 mt-12;
		}
		.cm-tooltip-below {
			@apply hidden! pointer-events-none!;
		}
		.cm-lint-marker,
		.cm-lint-marker-error,
		.cm-lint-marker-warning {
			@apply pointer-events-none cursor-auto;
		}
		&:not(.dark) .cm-activeLine {
			@apply bg-preview!;
		}
		.cm-matchingBracket {
			outline: none !important;
		}
		/* Text selection highlighting */
		.cm-editor .cm-selectionBackground,
		.cm-editor.cm-focused .cm-selectionBackground {
			background: var(--color-selection) !important;
		}
		.cm-editor .cm-content ::selection,
		.cm-editor .cm-line ::selection,
		.cm-editor .cm-line::selection {
			background-color: var(--color-selection) !important;
		}
  }
  #preview {
    @apply flex flex-col bg-preview flex-1 relative overflow-hidden;
    .svg-preview-wrapper {
      @apply flex-1 flex items-center justify-center overflow-hidden;
      cursor: grab;
      &:active {
        cursor: grabbing;
      }
    }
    .svg-container {
			color: var(--color-svg);
			fill: var(--color-svg);
			--current-color: var(--color-svg);
      @apply flex items-center justify-center
						 border-4 border-dashed border-bounds;
    }
    .error {
      @apply text-err p-4 text-center;
    }
  }
  dialog {
    @apply border-4 border-menu-outside fixed flex flex-col bg-menu-alt
					 left-1/2 opacity-0 scale-y-0 top-1/2 h-fit w-fit z-50;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    transform-origin: top;
    transition:
      scale 0.7s ease-out,
      opacity 0.7s ease-out,
      transform 0.7s ease-out;
    &[open] {
      @apply opacity-100 scale-y-100 p-1.5 z-50 min-w-3xs pointer-events-auto;
      @starting-style {
        @apply opacity-1 scale-y-0;
      }
    }
    &.closing {
      @apply opacity-1 scale-y-0 pointer-events-none;
      &::backdrop {
        @apply opacity-1;
      }
    }
    &::backdrop {
      @apply bg-black opacity-100;
      background: #000000;
      background: radial-gradient(
        circle,
        rgba(0, 0, 0, 0.33) 0%,
        rgba(0, 0, 0, 0.43) 50%,
        rgba(0, 0, 0, 0.73) 100%
      );
      transition: opacity 0.7s ease-out;
      @starting-style {
        @apply opacity-1;
      }
    }
		button {
			@apply px-3 py-1 bg-frm text-lbl;
		}
    header,
    article,
    footer,
    label {
      @apply flex p-5;
    }
    header {
      @apply text-xl text-header bg-menu;
    }
    article {
			@apply flex-col md:flex-row p-6;
			label {
				@apply text-lbl mr-5 justify-center align-middle;
				input[type="number"] {
					@apply border-2 border-menu-outside bg-frm pl-1 ml-2 leading-loose;
					-moz-appearance: textfield;
					&::-webkit-outer-spin-button,
					&::-webkit-inner-spin-button {
						-webkit-appearance: none;
					}
				}
			}
		}
    footer {
      @apply bg-menu;
    }
  }
}
/* <--//--------------------------------------------------------[components] */
@layer components {
  .hide {
    @apply hidden opacity-0;
  }
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
}
/* <--//---------------------------------------------------------------[eof] */
